*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #efefef;
}
.h1{
    padding-top: 30px;
    padding-left: 40px;
}
.nav-links ul li {
    list-style: none;
    /* padding-left: 30px; */
    padding:25px 45px
}
.nav-links ul a{
    text-decoration: none;
    color:black
}
.section_one{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3rem  0 3rem 0;
}
.sub_section_two p{
    height:590px;
    width: 465px;
    padding-left: 120px;
}

